body{background: #b2e299;
    background: -webkit-linear-gradient(top left, #d3f9bf, #4bde47);
    background: -moz-linear-gradient(top left, #d3f9bf, #4bde47);
    background: linear-gradient(to bottom right, #d3f9bf, #4bde47);}

#easyMaze{height:400px;
width:400px;
box-sizing: border-box;
background-color: black;
display:block;
margin:50px auto;
}
#mediumMaze{height:600px;
width:800px;
box-sizing: border-box;
background-color:black;
display: block;
margin:50px auto;
}
#hardMaze{height:480px;
width:1120px;
box-sizing: border-box;
background-color:black;
display: block;
margin:120px auto;
}
.easySquare{height:50px;
width:50px;
margin:0;
display:block;
float:left;
box-sizing: border-box;
}
.mediumSquare{height:40px;
width:40px;
margin:0;
display:block;
float:left;
box-sizing: border-box;
}
.hardSquare{height:20px;
    width:20px;
    margin:0;
    display:block;
    float:left;
    box-sizing: border-box;
    box-shadow: none;
    transition:.2s;
}
.cleanSlateSq{border:1px solid black;
background-color: white;
}


.top{border-top:4px solid black}
.bottom{border-bottom: 4px solid black;}
.right{border-right:4px solid black}
.left{border-left:4px solid black}

.current{background-color: green !important;}
.visited{background-color: white;}
.explored{background-color: red;}
.frontier{background-color: aqua;}

.entrance{background-color:green !important}
.hoverEntrance{background-color: greenyellow;}
.exit{background-color: red !important}
.hoverExit{background-color: orange;}
.PQ{background-color:yellow;}
.set{background-color: red;}
.obstacle{background-color: black;}
.hoverObstacle{background-color:gray;}


.chicken{background-image: url(../images/dumbChickenClear.png);
background-size: 100% 100%;
}

#screenResolutionScreen{position:absolute;
top:0;
left:0;
right:0;
bottom:0;
background-color: #565454;
}
#screenResolution{display:block;
margin: 100px auto;
height:400px;
width:650px;
line-height:2;
font-size:30px;
text-align: center;
padding-top:100px;
background: #b2e299;
background: -webkit-linear-gradient(top left, #b2e299, #71E16E);
background: -moz-linear-gradient(top left, #b2e299, #71E16E);
background: linear-gradient(to bottom right, #b2e299, #71E16E);
box-shadow:0 0 5px black;
font-family: 'Roboto';
}