
body{font-family: 'Roboto Mono, monospace';}
#navbarMain{height:100px;
position: absolute;
top:0;
left:0;
right:0;
background-color: #e1a875;
display: flex;
font-size:15px;
box-shadow: 0 0 3px black;
}
#navbarBlockScreen{position:absolute;
top:0;
bottom:0;
left:0;
right:0}
#navbarLogo{margin:0 40px 0 20px;}

.navbarSection{padding:10px;
margin:0;
height:100%;
box-sizing: border-box;
}
.dullSection{background-color: #151414e6;
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
}
#leftDullScreen{border-radius:30px 0 0 30px}
#rightDullScreen{border-radius:0 30px 30px 0}


#firstNavbarSection{display: flex;}
#pickMaze{border-right:thin solid black;
padding:10px 15px 0 15px;
text-align: center;
position:relative;
background-color: white;
border-radius: 30px 0 0 30px;
box-shadow: 0 0 5px black;
}
#mazeMenu{display: block;
margin: 5px auto 0 auto;
font-size:15px;
}
#makeYourOwn{
padding:10px 15px 0 15px;
text-align: center;
position:relative;
background-color: white;
border-radius: 0 30px 30px 0;
box-shadow: 0 0 5px black;
}
#makeYourOwnCheckbox{display: block;
margin: 5px auto 0;
height: 25px;
width: 25px;
}

#secondNavbarSectionGenerate{padding:20px 10px;
}

.setSquare{
    display: inline-block;
    text-align: center;
    margin:0 4px;
    font-size: 18px;
    padding:0;
    font-weight:bold;
    }
#buildWallsBtn{
padding:15px 7px;
width:140px !important;
height:80px !important;
box-sizing: border-box !important;
}
#setEntranceBtn{
line-height:1.2;
width:100px !important;
height:80px !important;
box-sizing: border-box !important;
}
#setExitBtn{
line-height:1.2;
width:100px !important;
height:80px !important;
box-sizing: border-box !important;
}

#fourthNavbarSection{display:flex;
margin-left:50px;
transition:1s;
opacity:1;
font-size:20px;
letter-spacing: 1px;
}
#chooseAlgoDiv{margin:10px 0 0 0;}
#algoMenu{display:block;
font-size:15px;
margin:5px auto;
}
#sendItBtn{font-size:20px;
height:80%;
display: inline-block;
margin:10px 20px;
font-weight: bold;
border:2px solid black;
letter-spacing: 1px;
}

.hidden{display:none !important}

.blackBtn{background-color: #343a40 !important; color:white}
.greenBtn{background-color: #28a745 !important; color:white}
.redBtn{background-color:#dc3545 !important; color:white}

.missingAlgoShade{box-shadow: 0 0 10px 5px red;}
.resetNavbarBtn{font-size:18px;
margin:10px 10px;
padding:20px 10px;
}
#fifthNavbarSection{margin-left:20px}
